{% extends 'layout.html' %}


{% block scripts %}
    <script src="{{ url_for('static',filename='cfg_submitter.js') }}"></script> 
{% endblock %}

{% block contents %}
<div id = "formatting">
    <p>The formatting for a CFG in this context is as follows: each rule must be on a seperate line and have the following form: </p>
    <p> &lt; non_terminal &gt;:rhs1|rhs2|rh3|...|rhs_last</p>
    <p><strong>Mind your whitespace!</strong></p>
</div>
<div id = "chatbox">
<div id= "chat">
    <textarea id = "messenger" cols="50"></textarea>
    <button type="button" id="submit">Submit</button>
</div>
<div id = "responses">
</div>
</div>
{% endblock %}
